*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Segoe UI;
    background:#0f172a;
    color:white;
}

nav{
    position:fixed;
    width:100%;
    padding:20px 10%;
    display:flex;
    justify-content:space-between;
    backdrop-filter:blur(10px);
}

ul{
    display:flex;
    gap:30px;
    list-style:none;
}

a{
    color:white;
    text-decoration:none;
}

.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(
        135deg,
        #2563eb,
        #7c3aed
    );
}

.hero h1{
    font-size:4rem;
    margin-bottom:20px;
}

button{
    padding:15px 35px;
    border:none;
    border-radius:50px;
    cursor:pointer;
}
